* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(76cc71fb45866a23a21ba5124743da4e.gif);
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}


.navigation a {
    position: relative;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    font-weight: 750;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .7s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #260808;
}


/* --------------------------------- */


/* .video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
} */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 3em;
}

.content p {
    font-size: 2em;
}

.content button {
    font-size: 1.2em;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
font-size: 3em;
color: #260808;
text-align: center;
}



.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #260808;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #260808;
    font-weight: 500;
    pointer-events: none;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

/*
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #260808;
    line-height: 57px;

} */

.remember-forgot {
    font-size: .9em;
    color: #260808;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #260808;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}


.wrapper2 {
    position: relative;
    width: 700px;
    height: 350px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper2 img {
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    margin: 0 60px;
    width: 200px;
    height: 200px;
}
  
/* .game-box {
    border: solid black 3px;
    width: auto;
    margin: 5px; 
    display: inline-block; 
    text-align: center; 
    padding: 10px; 
    text-decoration: none; 
    color: black;
    background: linear-gradient(to bottom, #ffff, #beb2b2);
}

.game-box a {
    display: block;
    text-decoration: none; 
    color: rgb(254, 250, 250); 
    
} */