body {
    padding: 80px;
    background-image: linear-gradient(-20deg, #96b6b0 0%, #4498ff 100%);
    text-align: center;
    font-family: sans-serif;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    width: 800px;
    height: 520px;
    background-color: #fafafa;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.remark {
    margin: 0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
    color: #324e63;
    display: flex;
    justify-content: center;
}

.logo {
    width: 25px;
    height: 25px;
    margin: 0 10px; /* Add some margin between the logos */
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 99;
    font-size: 20px;
}
header .text{
    color: #faf9f9;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    word-spacing: 6px;
    letter-spacing: 2px;
}

.logo2 {
    font-size: 2em;
    color: #fff;
    user-select: none;
}


.navigation a {
    position: relative;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    font-weight: 750;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .7s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #260808;
}

.about-heading {
    color: #333;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.about-text {
    text-align: justify;
    line-height: 1.6;
}
